.git
.gitignore
.secrets
.railway
*.tar.gz

backend/.env
backend/.pytest_cache
backend/.venv
backend/__pycache__
backend/**/*.pyc

frontend/.env
frontend/.env.*
frontend/dist
frontend/node_modules

sites-deploy
